.h1{
  
}

.footer {
 background-color: oceanblue;
}

.galleria {
     background: linear-gradient(180deg, 
    rgb(155, 195, 202) 0%,
    rgb(114, 153, 128) 33%,
    rgb(82, 100, 95) 66%,
    rgb(155, 213, 211) 99%);
    margin: 1vw;
    padding: 1vw;
  }

.citata { background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }

.random-phrase {
  margin: 1px auto;
  position: absolute;
  padding: 15px;
  font-size: 1.3em;
  font-style: italic;
  border: 1px solid #ddd;
}

.random-phrase #phrase {
  text-align: left; 
border: 1px solid #ddd;
}

.random-phrase #author {
  text-align: right;
}

.next-quote {
  padding: 5px 10px;
  border: 1px solid #ddd;
}
