
.footer { text-align: center;
background: linear-gradient(90deg, rgba(137,215,99,1) 0%, rgba(246,137,229,1) 55%, rgba(49,151,172,1) 100%);
border-style: solid;
 margin: 1vw;
    padding: 1vw; 
border-color: #4a003f;
   
}

.galleria {
     background: linear-gradient(180deg, 
    rgb(155, 195, 202) 0%,
    rgb(114, 153, 128) 33%,
    rgb(82, 100, 95) 66%,
    rgb(155, 213, 211) 99%);
    margin: 1vw;
    padding: 1vw; 
border-style: solid;
border-color: #4a003f;
  }

.citata {  background: linear-gradient(180deg, rgba(137,215,99,1) 0%, rgba(82,82,194,1) 55%, rgba(49,151,172,1) 100%);
border-style: solid;
border-color: #4a003f;
margin: 1vw;
    padding: 1vw; 
  }
  
.random-phrase { 
}

.phrase 

.author 
